# vim: filetype=toml

{{ $isDarwin := eq .chezmoi.os "darwin" }}
{{ $isWindows := eq .chezmoi.os "windows" }}

{{- define "dep" }}
{{- $path := . }}
[{{ printf ".dotfiles/deps/%s" $path | quote }}]
{{- end }}

{{- if index . "gitlab" }}
[".ssh/keys"]
  url = "https://gitlab.com/n0brain3r/dotfiles-ssh-keys/-/archive/master/dotfiles-ssh-keys-master.zip?private_token={{ .gitlab.token }}"
  type = "archive"
  stripComponents = 1
{{- end }}

[".local/share/fonts"]
  url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz"
  type = "archive"

[".dotfiles/logs/nerd-font.txt"]
  url = "https://api.github.com/repos/ryanoasis/nerd-fonts/releases/latest"
  type = "file"

{{ template "dep" "tree-sitter-nim/.dotfiles" }}
  url = "https://github.com/aMOPel/tree-sitter-nim/archive/refs/heads/main.zip"
  type = "archive"
  stripComponents = 1

[".dotfiles/logs/tree-sitter-nim.txt"]
  url = "https://api.github.com/repos/aMOPel/tree-sitter-nim/commits"
  type = "file"

{{ template "dep" "tree-sitter-norg/.dotfiles" }}
  url = "https://github.com/nvim-neorg/tree-sitter-norg/archive/refs/heads/main.zip"
  exact = true
  type = "archive"
  stripComponents = 1

{{ template "dep" "neovim/.local" }}
  {{- if $isWindows }}
  url = "https://github.com/neovim/neovim/releases/download/stable/nvim-win64.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/neovim/neovim/releases/download/stable/nvim-macos.tar.gz"
  {{- end}}
  exact = true
  type = "archive"
  stripComponents = 1

{{ template "dep" "starship/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/starship/starship/releases/latest/download/starship-x86_64-pc-windows-msvc.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/starship/starship/releases/latest/download/starship-aarch64-apple-darwin.tar.gz"
  {{- end }}
  exact = true
  type = "archive"

{{ template "dep" "fd/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/sharkdp/fd/releases/download/v8.7.0/fd-v8.7.0-x86_64-pc-windows-msvc.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/sharkdp/fd/releases/download/v8.7.0/fd-v8.7.0-x86_64-apple-darwin.tar.gz"
  {{- end }}
  exact = true
  type = "archive"
  stripComponents = 1

{{ template "dep" "ripgrep/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep-13.0.0-x86_64-pc-windows-msvc.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep-13.0.0-x86_64-apple-darwin.tar.gz"
  {{- end }}
  exact = true
  type = "archive"
  stripComponents = 1

{{ template "dep" "act/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/nektos/act/releases/latest/download/act_Windows_x86_64.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/nektos/act/releases/latest/download/act_Darwin_arm64.tar.gz"
  {{- end }}
  exact = true
  type = "archive"

{{ template "dep" "zsh-autosuggestions/.dotfiles" }}
  url = "https://github.com/zsh-users/zsh-autosuggestions/archive/refs/heads/master.zip"
  exact = true
  type = "archive"

{{ template "dep" "bat/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/sharkdp/bat/releases/download/v0.23.0/bat-v0.23.0-x86_64-pc-windows-msvc.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/sharkdp/bat/releases/download/v0.23.0/bat-v0.23.0-x86_64-apple-darwin.tar.gz"
  {{- end }}
  exact = true
  type = "archive"
  stripComponents = 1

{{ template "dep" "fvm/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/fluttertools/fvm/releases/download/2.4.1/fvm-2.4.1-windows-x64.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/fluttertools/fvm/releases/download/2.4.1/fvm-2.4.1-macos-arm64.tar.gz"
  {{- end }}
  exact = true
  type = "archive"
  stripComponents = 1

{{ template "dep" "gh/.local" }}
  {{- if $isWindows }}
  url = "https://github.com/cli/cli/releases/download/v2.35.0/gh_2.35.0_windows_amd64.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/cli/cli/releases/download/v2.35.0/gh_2.35.0_macOS_arm64.zip"
  {{- end }}
  exact = true
  type = "archive"
  stripComponents = 1

{{ template "dep" "tree-sitter/.local/bin/tree-sitter.exe.gz" }}
  {{- if $isWindows }}
  url = "https://github.com/tree-sitter/tree-sitter/releases/latest/download/tree-sitter-windows-x64.gz"
  {{- else if $isDarwin }}
  url = "https://github.com/tree-sitter/tree-sitter/releases/latest/download/tree-sitter-macos-arm64.gz"
  {{- end }}
  exact = true
  type = "file"

{{- if $isWindows }}
{{ template "dep" "broot/.local/bin" }}
  url = "https://github.com/Canop/broot/releases/download/v1.21.2/broot_1.21.2.zip"
  exact = true
  include = [ "x86_64-pc-windows-gnu/broot.exe" ]
  type = "archive"
  stripComponents = 1

{{ template "dep" "jq/.local/bin/jq.exe" }}
  url = "https://github.com/jqlang/jq/releases/latest/download/jq-win64.exe"
  exact = true
  type = "file"

{{ template "dep" "yq/.local/bin/yq.exe" }}
  url = "https://github.com/mikefarah/yq/releases/latest/download/yq_windows_amd64.exe"
  exact = true
  type = "file"
  executable = true

{{ template "dep" "zsh/.local/zsh.pkg.tar.zst" }}
  url = "https://mirror.msys2.org/msys/x86_64/zsh-5.9-2-x86_64.pkg.tar.zst"
  exact = true
  type = "file"

{{ template "dep" "zstd/.local/bin" }}
  url = "https://github.com/facebook/zstd/releases/download/v1.5.5/zstd-v1.5.5-win64.zip"
  exact = true
  type = "archive"
  stripComponents = 1
{{- else if $isDarwin }}
{{ template "dep" "homebrew/.local" }}
  url = "https://github.com/Homebrew/brew/archive/refs/heads/master.zip"
  type = "archive"
  stripComponents = 1

{{ template "dep" "iterm2/Applications" }}
  url = "https://iterm2.com/downloads/stable/latest"
  exact = true
  type = "archive"

{{ template "dep" "jq/.local/bin/jq" }}
  url = "https://github.com/jqlang/jq/releases/latest/download/jq-osx-amd64"
  exact = true
  type = "file"
  executable = true

{{ template "dep" "yq/.local/bin/yq" }}
  url = "https://github.com/mikefarah/yq/releases/latest/download/yq_darwin_arm64"
  exact = true
  type = "file"
  executable = true
{{- end }}
