{{- $gitlabToken := promptString "GitLab API token" }}
{{- $githubToken := promptString "GitHub Access token" }}
{{- $orgName := promptString "Organization name" }}

{{- if $orgName }}
{{- $orgEmail := promptString "Organization email" }}

[data.org]
  name = {{ $orgName | quote }}
  email = {{ $orgEmail | quote }}
{{- end }}

{{- if $gitlabToken }}
[data.gitlab]
  token = {{ $gitlabToken | quote }}
{{- end }}

{{- if $githubToken }}
[data.github]
  token = {{ $githubToken | quote }}
{{- end }}

{{- if eq .chezmoi.os "windows" }}
[interpreters.sh]
  command = "C:\\Program Files\\Git\\bin\\bash.exe"
{{- end }}
