{{- $gitlabToken := promptString "API token" }}

{{- if $gitlabToken }}
[data.gitlab]
  token = {{ $gitlabToken | quote }}
{{- end}}

{{- if eq .chezmoi.os "windows" }}
[interpreters.sh]
  command = ".dotfiles\\deps\\cmder\\.local\\cmder\\vendor\\git-for-windows\\bin\\bash.exe"
{{- end }}
