{{- $gitlabToken := promptString "API token" }}

{{- if $gitlabToken }}
[data.gitlab]
  token = {{ $gitlabToken | quote }}
{{- end}}

{{- if eq .chezmoi.os "windows" }}
[interpreters.sh]
  command = "C:\\Program Files\\Git\\bin\\bash.exe"
{{- end }}
