# vim: filetype=toml

{{ $isDarwin := eq .chezmoi.os "darwin" }}
{{ $isWindows := eq .chezmoi.os "windows" }}

{{- if index . "gitlab" }}
[".ssh/keys"]
  url = "https://gitlab.com/n0brain3r/dotfiles-ssh-keys/-/archive/master/dotfiles-ssh-keys-master.zip?private_token={{ .gitlab.token }}"
  type = "archive"
  stripComponents = 1
{{- end }}

{{- define "dep" }}
{{- $path := . }}
[{{ printf ".dotfiles/deps/%s" $path | quote }}]
  exact = true
{{- end }}

{{- define "dep*" }}
{{- $path := . }}
[{{ printf ".dotfiles/deps/%s" $path | quote }}]
  exact = false
{{- end }}

{{ template "dep" "act/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/nektos/act/releases/latest/download/act_Windows_x86_64.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/nektos/act/releases/latest/download/act_Darwin_arm64.tar.gz"
  {{- end }}
  type = "archive"

{{ template "dep" "bat/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/sharkdp/bat/releases/download/v0.24.0/bat-v0.24.0-x86_64-pc-windows-msvc.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/sharkdp/bat/releases/download/v0.24.0/bat-v0.24.0-x86_64-apple-darwin.tar.gz"
  {{- end }}
  type = "archive"
  stripComponents = 1

{{ template "dep" "bat/.config/bat/themes" }}
  url = "https://github.com/catppuccin/bat/archive/refs/heads/main.zip"
  type = "archive"
  stripComponents = 1
  include = ["*/*.tmTheme"]

{{ template "dep" "fvm/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/fluttertools/fvm/releases/download/2.4.1/fvm-2.4.1-windows-x64.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/fluttertools/fvm/releases/download/2.4.1/fvm-2.4.1-macos-arm64.tar.gz"
  {{- end }}
  type = "archive"
  stripComponents = 1

{{ template "dep" "gh/.local" }}
  {{- if $isWindows }}
  url = "https://github.com/cli/cli/releases/download/v2.35.0/gh_2.35.0_windows_amd64.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/cli/cli/releases/download/v2.35.0/gh_2.35.0_macOS_arm64.zip"
  {{- end }}
  type = "archive"
  stripComponents = 1

{{ template "dep" "neovim/.local" }}
  {{- if $isWindows }}
  url = "https://github.com/neovim/neovim/releases/download/stable/nvim-win64.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/neovim/neovim/releases/download/stable/nvim-macos.tar.gz"
  {{- end}}
  type = "archive"
  stripComponents = 1

{{ template "dep" "nerd-font/contents" }}
  url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz"
  type = "archive"

{{ template "dep" "nerd-font/release.json" }}
  url = "https://api.github.com/repos/ryanoasis/nerd-fonts/releases/latest"
  type = "file"

{{ template "dep" "ripgrep/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep-13.0.0-x86_64-pc-windows-msvc.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep-13.0.0-x86_64-apple-darwin.tar.gz"
  {{- end }}
  type = "archive"
  stripComponents = 1

{{ template "dep" "starship/.local/bin" }}
  {{- if $isWindows }}
  url = "https://github.com/starship/starship/releases/latest/download/starship-x86_64-pc-windows-msvc.zip"
  {{- else if $isDarwin }}
  url = "https://github.com/starship/starship/releases/latest/download/starship-aarch64-apple-darwin.tar.gz"
  {{- end }}
  type = "archive"

{{ template "dep" "tree-sitter/.local/bin/tree-sitter.exe.gz" }}
  {{- if $isWindows }}
  url = "https://github.com/tree-sitter/tree-sitter/releases/latest/download/tree-sitter-windows-x64.gz"
  {{- else if $isDarwin }}
  url = "https://github.com/tree-sitter/tree-sitter/releases/latest/download/tree-sitter-macos-arm64.gz"
  {{- end }}
  type = "file"

{{- if $isWindows }}
{{ template "dep" "eza/.local/bin" }}
  url = "https://github.com/eza-community/eza/releases/latest/download/eza.exe_x86_64-pc-windows-gnu.zip"
  type = "archive"

{{ template "dep" "jq/.local/bin/jq.exe" }}
  url = "https://github.com/jqlang/jq/releases/latest/download/jq-win64.exe"
  type = "file"

{{ template "dep" "silicon/.local/bin" }}
  url = "https://github.com/Aloxaf/silicon/releases/download/v0.5.1/silicon-v0.5.1-x86_64-pc-windows-msvc.tar.gz"
  type = "archive"

{{ template "dep" "yq/.local/bin/yq.exe" }}
  url = "https://github.com/mikefarah/yq/releases/latest/download/yq_windows_amd64.exe"
  type = "file"
  executable = true

{{ template "dep" "zstd/.local/bin" }}
  url = "https://github.com/facebook/zstd/releases/download/v1.5.5/zstd-v1.5.5-win64.zip"
  type = "archive"
  stripComponents = 1
{{- else if $isDarwin }}
{{ template "dep*" "homebrew/.local" }}
  url = "https://github.com/Homebrew/brew/archive/refs/heads/master.zip"
  type = "archive"
  stripComponents = 1

{{ template "dep" "wezterm/Applications" }}
  url = "https://github.com/wez/wezterm/releases/download/20230712-072601-f4abf8fd/WezTerm-macos-20230712-072601-f4abf8fd.zip"
  type = "archive"
  stripComponents = 1

{{ template "dep" "jq/.local/bin/jq" }}
  url = "https://github.com/jqlang/jq/releases/latest/download/jq-osx-amd64"
  type = "file"
  executable = true

{{ template "dep" "yq/.local/bin/yq" }}
  url = "https://github.com/mikefarah/yq/releases/latest/download/yq_darwin_arm64"
  type = "file"
  executable = true
{{- end }}
