{{- if index . "org"}}
[user]
  name = Ryan Blonna
  email = {{ .org.email }}

[url "git@{{ .org.slug }}.github.com"]
  insteadOf = git@github.com
{{- else }}
[user]
  name = Ryan Blonna
  email = n0.b741n37+Github@gmail.com

[credential]
  helper = store
{{- end }}

[include]
  path = ~/.dotfiles/gitconfig/main
