#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{" right-delimiter="}#"

set -e

if [ -n "$ZSH_VERSION" ]; then
  setopt +o nomatch
else
  shopt -u nullglob
fi

export PUB_CACHE="$HOME/.pub-cache"

export PATH="$HOME/.nimble/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.dotfiles/scripts:$PATH"
export PATH="$PUB_CACHE/bin:$PATH"

for bin_dir in ~/.dotfiles/deps/*/.local/bin; do
  export PATH="$bin_dir:$PATH"
done

for bin_dir in ~/.dotfiles/deps/*/.local/usr/bin; do
  export PATH="$bin_dir:$PATH"
done

export GIT_CONFIG_GLOBAL="$HOME/.dotfiles/gitconfig/main"

#{- if index . "gitlab" }#
export GITLAB_ACCESS_TOKEN="#{ .gitlab.token }#"
#{- end }#

#{- if index . "github" }#
export GITHUB_ACCESS_TOKEN="#{ .github.token }#"
#{- end }#

#{- if index . "openAi" }#
export OPENAI_API_KEY="#{ .openAi.key }#"
#{- end }#

#{- if eq .chezmoi.os "windows" }#
export PATH="/c/PROGRA~1/Microsoft Visual Studio/2022/Community/VC/Tools/Llvm/x64/bin:$PATH"
export PATH="/c/PROGRA~2/Microsoft Visual Studio/Shared/Python39_64:$PATH"
export PATH="/c/PROGRA~1/Microsoft Visual Studio/2022/Community/MSBuild/Microsoft/VisualStudio/NodeJs:$PATH"
#{- else if eq .chezmoi.os "darwin" }#
export PATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin:$PATH"
export PATH="/Applications/Alacritty.app/Contents/MacOS:$PATH"
export PATH="$HOME/Library/Python/3.9/bin:$PATH"

eval "$(brew shellenv)"
#{- end }#

# vim: filetype=bash
