#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{" right-delimiter="}#"

if [[ -n "$_ENVRC_SOURCED" ]]; then
  return
fi

export _ENVRC_SOURCED=1

if [[ -n "$ZSH_VERSION" ]]; then
  setopt null_glob
else
  shopt -u nullglob
fi

export PUB_CACHE="$HOME/.pub-cache"

export PATH="$HOME/.nimble/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.dotfiles/scripts:$PATH"
export PATH="$PUB_CACHE/bin:$PATH"

for bin_dir in ~/.dotfiles/deps/*/.local/bin; do
  export PATH="$bin_dir:$PATH"
done

for bin_dir in ~/.dotfiles/deps/*/.local/usr/bin; do
  export PATH="$bin_dir:$PATH"
done

export GIT_CONFIG_GLOBAL="$HOME/.dotfiles/gitconfig/main"

#{- if index . "gitlab" }#
export GITLAB_ACCESS_TOKEN="#{ .gitlab.token }#"
#{- end }#

#{- if index . "github" }#
export GITHUB_ACCESS_TOKEN="#{ .github.token }#"
export GH_TOKEN="$GITHUB_ACCESS_TOKEN"
#{- end }#

#{- if index . "openAi" }#
export OPENAI_API_KEY="#{ .openAi.key }#"
#{- end }#

export RIPGREP_CONFIG_PATH="$HOME/.dotfiles/ripgreprc"
export BAT_THEME="Catppuccin-frappe"

# {{{ Latte FZF theme
# export FZF_DEFAULT_OPTS=" \
# --color=bg+:#ccd0da,bg:#eff1f5,spinner:#dc8a78,hl:#d20f39 \
# --color=fg:#4c4f69,header:#d20f39,info:#8839ef,pointer:#dc8a78 \
# --color=marker:#dc8a78,fg+:#4c4f69,prompt:#8839ef,hl+:#d20f39"
# }}}
# {{{ Frappe FZF theme
export FZF_DEFAULT_OPTS=" \
--color=bg+:#414559,bg:#303446,spinner:#f2d5cf,hl:#e78284 \
--color=fg:#c6d0f5,header:#e78284,info:#ca9ee6,pointer:#f2d5cf \
--color=marker:#f2d5cf,fg+:#c6d0f5,prompt:#ca9ee6,hl+:#e78284"
# }}}
# {{{ Macchiato FZF theme
# export FZF_DEFAULT_OPTS=" \
# --color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796 \
# --color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6 \
# --color=marker:#f4dbd6,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796"
# }}}
# {{{ Mocha FZF theme
# export FZF_DEFAULT_OPTS=" \
# --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
# --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
# --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"
# }}}

#{- if eq .chezmoi.os "windows" }#
export PATH="/c/PROGRA~1/Microsoft Visual Studio/2022/Community/VC/Tools/Llvm/x64/bin:$PATH"
export PATH="/c/PROGRA~2/Microsoft Visual Studio/Shared/Python39_64:$PATH"
export PATH="/c/PROGRA~1/Microsoft Visual Studio/2022/Community/MSBuild/Microsoft/VisualStudio/NodeJs:$PATH"
#{- else if eq .chezmoi.os "darwin" }#
export ANDROID_HOME="$HOME/Library/Android/sdk"
export FVM_HOME="$HOME/.fvm"
export JAVA_HOME="/Applications/Android Studio.app/Contents/jbr/Contents/Home"

export PATH="$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools:$PATH"
export PATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin:$PATH"
export PATH="$HOME/Library/Python/3.9/bin:$PATH"
export PATH="$HOME/Library/Android/sdk/cmdline-tools/latest/bin:$HOME/Library/Android/sdk/tools/bin:$PATH"

eval "$(brew shellenv)"
#{- end }#

# vim: filetype=sh
