#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{" right-delimiter="}#"

export BAT_THEME="Catppuccin Frappe"

export COMMIT_TYPES=(build chore ci docs feat fix perf refactor revert style test)

export EDITOR="nvim"

export FZF_DEFAULT_OPTS="--bind 'alt-j:down,alt-k:up'"

#{- if index . "gitlab" }#
export GITLAB_ACCESS_TOKEN="#{ .gitlab.token }#"
#{- end }#

#{- if index . "github" }#
export GITHUB_ACCESS_TOKEN="#{ .github.token }#"
export GH_TOKEN="$GITHUB_ACCESS_TOKEN"
export GITHUB_PACKAGES_TOKEN="$GITHUB_ACCESS_TOKEN"
#{- end }#

#{- if index . "openAi" }#
export OPENAI_API_KEY="#{ .openAi.key }#"
#{- end }#

export PUB_CACHE="$HOME/.pub-cache"

export RIPGREP_CONFIG_PATH="$HOME/.dotfiles/ripgreprc"

#{- if eq .chezmoi.os "darwin" }#
export ANDROID_HOME="$HOME/Library/Android/sdk"

export FVM_HOME="$HOME/.fvm"

export PURO_ROOT="$HOME/.puro"

export JAVA_HOME="/Applications/Android Studio.app/Contents/jbr/Contents/Home"

export TERM="wezterm"

for vulkan_sdk_dir in ~/VulkanSDK/*/macOS; do
  VULKAN_SDK="$vulkan_sdk_dir"
done
export VULKAN_SDK
export VK_ICD_FILENAMES="$VULKAN_SDK/share/vulkan/icd.d/MoltenVK_icd.json"
export VK_LAYER_PATH="$VULKAN_SDK/share/vulkan/explicit_layer.d"
#{- end }#

if [[ -n "$_ENVRC_SOURCED" ]]; then
  return
fi

export _ENVRC_SOURCED=1

if [[ -n "$ZSH_VERSION" ]]; then
  setopt null_glob
else
  shopt -u nullglob
fi

PATH="$HOME/.dotfiles/scripts:$PATH"
PATH="$FVM_HOME/default/bin:$PATH"
PATH="$HOME/.local/bin:$PATH"
PATH="$HOME/.nimble/bin:$PATH"
PATH="$PUB_CACHE/bin:$PATH"
PATH="$PURO_ROOT/bin:$PATH"
PATH="$PURO_ROOT/envs/default/flutter/bin:$PATH"

for bin_dir in ~/.dotfiles/deps/*/.local/bin; do
  PATH="$bin_dir:$PATH"
done

for bin_dir in ~/.dotfiles/deps/*/.local/usr/bin; do
  PATH="$bin_dir:$PATH"
done

#{- if eq .chezmoi.os "windows" }#
# shellcheck disable=SC2147
PATH="/c/PROGRA~1/Microsoft Visual Studio/2022/Community/VC/Tools/Llvm/x64/bin:$PATH"
# shellcheck disable=SC2147
PATH="/c/PROGRA~1/LLVM/bin:$PATH"
# shellcheck disable=SC2147
PATH="/c/PROGRA~2/Microsoft Visual Studio/Shared/Python39_64:$PATH"
# shellcheck disable=SC2147
PATH="/c/PROGRA~1/Microsoft Visual Studio/2022/Community/MSBuild/Microsoft/VisualStudio/NodeJs:$PATH"
#{- else if eq .chezmoi.os "darwin" }#
export DYLD_LIBRARY_PATH="$VULKAN_SDK/lib:$DYLD_LIBRARY_PATH"

for xcode_app_dir in /Applications/Xcode*; do
  XCODE_APP="$xcode_app_dir"
done
export XCODE_APP

PATH="$XCODE_APP/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin:$PATH"
PATH="$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools:$PATH"
PATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin:$PATH"
PATH="$HOME/Library/Python/3.9/bin:$PATH"
PATH="$HOME/Library/Android/sdk/cmdline-tools/latest/bin:$HOME/Library/Android/sdk/tools/bin:$PATH"
PATH="$VULKAN_SDK/bin:$PATH"

eval "$(brew shellenv)"
#{- end }#

export PATH

# vim: filetype=sh
