case "$(uname -s)" in
Darwin*)
  export PATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin":$PATH

  alias studio="open -a /Applications/Android\ Studio.app"
  ;;
MSYS_NT*)
  export PATH=$(echo "$PATH" | xargs -d ';' cygpath -u | grep . | paste -sd : -)
  export MSYS=winsymlinks:nativestrict
  export MSYS2_PATH_TYPE=inherit

  alias npm="cmd //c npm.cmd"
  ;;
MINGW64_NT*)
  alias npm="cmd //c npm.cmd"
  ;;
*)
  ;;
esac

export PATH="$HOME/.nimble/bin":"$HOME/.local/bin":"$HOME/.dotfiles/scripts":$PATH

export GIT_CONFIG_GLOBAL="$HOME/.dotfiles/gitconfig/main"

{{- if (index . "gitlab") }}
export GITLAB_ACCESS_TOKEN={{ .gitlab.token | quote }}
{{- end }}

{{- if (index . "github") }}
export GITHUB_ACCESS_TOKEN={{ .github.token | quote }}
{{- end }}

if [ -z "$EMU" ]; then
  export STARSHIP_CONFIG="$HOME/.config/starship.default.toml"
fi

if [ ! "$(command -v git)" ]; then
  sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- --bin-dir "$HOME/.local/bin" --yes
fi

function silent-background() {
  ("$@" &>/dev/null &)
}

function _git_ext() {
  if [[ "$1" == "log" && "$@" != *"--help"* ]]; then
    shift 1
    command git log "$@" | tig
  else
    command git "$@"
  fi
}

if [ ! -z "$NVIM" ]; then
  export EDITOR="$HOME/.dotfiles/scripts/nvim-nested"

  function _nvim_remote() {
    command nvim --clean --headless --server "$NVIM" "$@"
  }

  function cd() {
    command cd "$@"
    local dir="$(cygpath -m "$PWD")"
    silent-background _nvim_remote --remote-expr "v:lua.fn.set_terminal_dir(\"$dir\")"
  }

  function git() {
    _git_ext "$@"
    silent-background _nvim_remote --remote-expr "v:lua.fn.refresh_git_info()"
  }

  function nvim() {
    if [ $# -eq 0 ]; then
      local dir="$(cygpath -m "$PWD")"
      silent-background _nvim_remote --remote-expr "v:lua.fn.open_workspace(\"$dir\")"
    else
      _nvim_remote --remote-tab "$@"
    fi
  }

  function workspace() {
    source "$HOME/.dotfiles/scripts/workspace"
    nvim
  }

  function exit() {
    _nvim_remote --remote-send "<cmd>quitall<CR>"
  }
else
  export EDITOR="nvim"

  function workspace() {
    source "$HOME/.dotfiles/scripts/workspace"
  }

  alias git='_git_ext'
fi

# General aliases

alias c='cd'
alias e='nvim'
alias g='git'
alias l='ls'
alias vim='nvim'
alias w='workspace'

# Config aliases

alias ce='cd ~/.local/share/chezmoi && nvim'

# Git aliases

function gc() {
  git commit -m "$@"
}

alias gl='git log'
alias gp='git push'
alias gs='git status'
