#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{" right-delimiter="}#"

printf '\033[?12l' # disable cursor blink

export HISTSIZE=10000

if [[ -n "$STARSHIP_CONFIG" ]]; then
  STARSHIP_CONFIG="$(eval echo "$STARSHIP_CONFIG")"
  export STARSHIP_CONFIG
fi

# Overrides

alias cat='bat'
alias ls='eza'

#{- if eq .chezmoi.os "windows" }#
alias npm="cmd -c npm.cmd"
#{- else if eq .chezmoi.os "darwin" }#
alias pip="pip3"
alias python="python3"
alias studio="open -a /Applications/Android\ Studio.app"
#{- end }#

function cygpath() {
  if [[ "$OS" == *_NT* ]]; then
    command cygpath "$@"
  else
    for last in "$@"; do :; done
    echo "$last"
  fi
}

function _git_override() {
  if [[ "$1" == "config" ]]; then
    shift 1
    command git cf "$@"
  else
    command git "$@"
  fi
}

function _silent_background() {
  ("$@" &>/dev/null &)
}

if [[ -n "$NVIM" ]]; then
  function _nvim_remote() {
    command nvim --clean --headless --server "$NVIM" "$@"
  }

  function cd() {
    local dir
    builtin cd "$@" && ls -a "$PWD" || return $?
    dir="$(cygpath -m "$PWD")"
    _silent_background _nvim_remote --remote-expr \
      "v:lua.fn.set_terminal_dir(\"$dir\")"
  }

  function git() {
    _git_override "$@" || return $?
    _silent_background _nvim_remote --remote-expr "v:lua.fn.refresh_git_info()"
  }

  function workspace() {
    # shellcheck disable=1091
    source "$HOME/.dotfiles/scripts/workspace"
    nvim
  }

  function exit() {
    _nvim_remote --remote-send "<cmd>quitall<CR>"
  }
else
  function cd() {
    builtin cd "$@" && ls -a "$PWD"
  }

  function git() {
    _git_override "$@"
  }

  # shellcheck disable=2120
  function nvim() {
    if [[ $# -eq 0 ]]; then
      command nvim +"TerminalModeStart nvim"
    else
      command nvim "$@"
    fi
  }

  function workspace() {
    # shellcheck disable=1091
    source "$HOME/.dotfiles/scripts/workspace"
  }
fi

# General aliases

alias c='cd'
alias e='nvim'
alias g='git'
alias l='ls'
alias w='workspace'
alias ws='workspace'

function _warn_fvm_config_not_found() {
  # shellcheck disable=SC2034
  local errorcode=$?
  echo -e "\n\e[33m\e[1mWARN:\e[0m\e[33m FVM configuration not found in current directory. Did you forget to run \`fvm use <version>\`?\e[0m"
  # shellcheck disable=SC2152
  return errorcode
}

function dart() {
  if [[ ! -f "$PWD/.fvm/fvm_config.json" ]]; then
    command dart "$@"
    _warn_fvm_config_not_found
  else
    fvm dart "$@"
  fi
}

function flutter() {
  if [[ ! -f "$PWD/.fvm/fvm_config.json" ]]; then
    command flutter "$@"
    _warn_fvm_config_not_found
  else
    fvm flutter "$@"
  fi
}

function gh() {
  if ! command gh extension list | grep gh-dash >/dev/null; then
    command gh extension install dlvhdr/gh-dash
  fi

  command gh "$@"
}

# Config aliases

function ce() {
  pushd ~/.local/share/chezmoi >/dev/null && nvim && popd >/dev/null || return $?
}

# Git aliases

alias gb='git branch'
alias go='git cf'
alias gp='git pu'
alias gs='git st'
alias gu='git pull'
alias gw='git sw'

function ga() {
  git add -N "*$**" && git ap "*$**"
}

function gc() {
  # shellcheck disable=1091
  source "$HOME/.dotfiles/scripts/git-commit-message"
}

function gr() {
  git rs "*$**"
}

function grs() {
  git rss "*$**"
}

if [[ -n "$START_COMMAND" ]]; then
  _silent_background "$START_COMMAND"

  command cat "$HOME/.dotfiles/banner.txt"
fi

# vim: filetype=sh
