#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{" right-delimiter="}#"

source ~/.dotfiles/envrc

#{- if eq .chezmoi.os "darwin" }#
brew install coreutils
brew install broot
brew install eza
brew install node
brew install silicon
brew install tig
#{- end }#

gh extension install dlvhdr/gh-dash

# vim: filetype=sh
