#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{" right-delimiter="}#"
##{ (joinPath .chezmoi.homeDir ".local/share/fonts" | lstat).modTime }#

font_dir="$HOME/.local/share/fonts"

if [[ -d "$font_dir" ]]; then
#{- if eq .chezmoi.os "windows" }#
  echo ">> register-fonts $font_dir/*"
  for font_file in "$font_dir"/*.?tf; do
    font_path="$(cygpath -m "$font_file")"
    powershell \
      -ExecutionPolicy Bypass \
      -command "~/.dotfiles/scripts/register-fonts.ps1 '$font_path'"
  done
#{- else }#
cp "$font_dir"/* ~/Library/Fonts/ && echo "> cp $font_dir/* ~/Library/Fonts"
#{- end }#
fi

# vim: filetype=bash foldmethod=marker foldlevel=0 foldenable
