#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{" right-delimiter="}#"

source ~/.dotfiles/envrc

#{- if eq .chezmoi.os "darwin" }#
brew install coreutils
brew install eza
brew install node
brew install silicon
brew install sqlite
brew install swift-format
brew install tig
#{- end }#

# vim: filetype=sh
