# vim: filetype=toml
# chezmoi:template:left-delimiter="#{" right-delimiter="}#"

#{ include "exact_dot_dotfiles/starship.common.toml" }#

[directory]
  truncation_length = 9
  truncate_to_repo = false
